@font-face {
    font-family: 'IranSans';
    src: url('/assets/font/IranSans/IRANSansWeb.ttf') , url('/assets/fonts/IranSans/IRANSansWeb.woff') , url('/assets/fonts/IranSans/IRANSansWeb.eot');
}

@font-face {
    font-family: 'iransansbold';
    src: url('/assets/fonts/IranSans/IRANSansWeb_Bold.eot');
    src: url('/assets/fonts/IranSans/IRANSansWeb_Bold.eot?#iefix') format("embedded-opentype"), url('/assets/font/IranSans/IRANSansWeb_Bold.woff') format("woff"), url('/assets/font/IranSans/IRANSansWeb_Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'gothic';
    src: url('/assets/font/senturyGothic/gothic.eot');
    src: local('gothic'), url('/assets/font/senturyGothic/gothic.woff') format('woff'), url('/assets/font/senturyGothic/gothic.ttf') format('truetype');
}
@font-face {
    font-family: 'TimesNewRoman';
    src: url('/assets/font/TimesNewRoman/timesNewRoman.ttf');
}
@font-face {
    font-family: 'TimesNewRomanItalic';
    src: url('/assets/font/TimesNewRoman/timesNewRomanItalic.ttf');
}
@font-face {
    font-family: 'TimesNewRomanBold';
    src: url('/assets/font/TimesNewRoman/timesNewRomanBold.ttf');
}
@font-face {
    font-family: 'yakenNumber';
    src: url('/assets/font/YekanNumber/iranyekanwebregularfanum.ttf');
}

a{
    text-decoration: none !important;
    color: #757575;
}

body{
    /*background-color:#00a594;*/
    font-family: 'IranSans';
    font-size:13px;
}
a *{
    text-decoration: none !important;
}
.bg-body{
    background-color:#00a594;
}
.text-color-body{
    color:#00a594;
}
.sabad-index{
    width: 66px;
    height: 33px;
}
.left-12{
    left:-3px;
}
/* <!----drpdown-index------------->*/
.dropbtn {
    color: white;
    padding-top: 16px;
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
    z-index:5;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.img-slider{
    border-radius: 43px;
    border-bottom: 5px solid #00a594;
}
.icon-heart{
    position: absolute;
    text-align: center;
    left: 7px;
    top: 41px;
    color:#00a594;
}
@media only screen and (min-width: 320px){

    .ml-x-7{
        margin-right:-8rem !important;
    }
    .mt-x-82{
        margin-top: 82PX !important;
    }
}
@media only screen and (min-width:768px){
    .icon-heart{
        top: 68px !important;
        font-size: 19px !important;
    }
    .btn-register{
        margin-right: 39%;
        bottom: -26px;

    }
    .close-register1{
        left:-61px !important;
    }

    .btn-login{
        bottom: -29px;
        right: 3%;

    }
    .logo11-index{
        width: 169px;
    }
    .logo22-index{
        width: 207px;
    }
    .ltr-md{
        direction:ltr;
    }
    .left-12{
        left:-63px !important;
    }
    .titr-slider{
        font-size: 43px;
        font-weight:900;
    }
    .titr-index{
        font-size:38px;
    }
    .titr-home{
        font-size:13px;
    }
}

@media only screen and (min-width:1378px){
    .titr-home{
        font-size: 32px !important;
        margin-left: -29px !important;
    }
}
@media only screen and (min-width: 1028px){
    .logo11-index {
        width: 212px !important;
    }
}

@media only screen and (min-width: 992px){
    .heart-register{
        left: 28px !important;
        font-size: 25px;
        top: 193px !important;
    }
    .close-register1{
        left:17px !important;
    }
    .logo11-index {
        width: 199px;
    }
    .left-12{
        left:12px !important;
    }
    .titr-slider1{
        font-size: 45px;
    }
    .titr-slider1{
        font-size: 45px;
    }
    /*    .btn-register{
            margin-right: 32% !important;

        }*/


    .titr-home{
        font-size:19px !important;
    }
    .icon-heart {
        left: -7px !important;
        font-size: 29px !important;
        top: 72px !important;
    }
}
@media only screen and (max-width: 411px){
    .titr-slider1{
        font-size: 37px;
    }
    .titr-slider2{
        font-size: 42px;
    }
}
@media only screen and (max-width: 637px){

    .navbar-mobile{
        overflow-x: auto;
        overflow-y: hidden;
        height: 94px;

    }
    .row-navbar{
        display: flex !important;
        flex-wrap: nowrap;
        margin-top: -45px;
    }
}
@media only screen and (min-width: 576px){
    .icon-heart{
        left: -4px ;
        top: 90px ;
        font-size: 27px ;
    }
    .titr-index{
        font-size: 29px;
    }
    .ml-sm-9{
        margin-right:-9rem;
    }

    .bg-sm1{
        background-color:#015e54;
    }
    .bg-sm{
        background-color:#ffc600;
    }

}
.b-radius11{
    border-radius: 11px;
}
.bg-warning2{
    background-color:#ffc600;
}
.div2-circle{
    width: 50px;
    height: 50px;
    border-radius: 61px;
    position: absolute;
    top: 1px;
    right: 3px;
}
.div-circle{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 51px;
}
input,select,button:focus {
    outline:none;
}
.menu-admin{
    background-color:#cfe2e0;
    border-radius: 11px;
    z-index:4;
    margin-top: 0px;
}
.bg-light-blue{
    background-color:#d7fffc;
}
.img-home{
    background-image: url(image/home-user.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-data{
    background-image: url(image/data.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-data{
    background-image: url(image/data.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img-shop{
    background-image: url(image/shop.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-app{
    background-image: url(image/app-user.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-share{
    background-image: url(image/img-share.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-inbody{
    background-image: url(image/inbody.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-weblog{
    background-image: url(image/img-weblog.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-chanall{
    background-image: url(image/chanall-user.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-enteghad{
    background-image: url(image/img-proposal.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-instagram{
    background-image: url(image/instagram-user.png);
    background-repeat: no-repeat;
    background-position: center;
}
.img-call{
    background-image: url(image/img-operators.png);
    background-repeat: no-repeat;
    background-position: center;
}
.mains::-webkit-scrollbar-track {
    background-color:#cfe2e0 !important;
}
.mains::-webkit-scrollbar-thumb {
    background:#ffc600;
}
.mains::-webkit-scrollbar {
    width:15px;
    height:10px !important;
}
.visibility-hidden{
    visibility:hidden;
}
.round7px{
    border-radius:7px;
}
.circle1-index{
    position: relative;
    width: 105px;
    height: 105px;
    border-radius: 65px;
}
.circle11-index{
    background-image: url(image/circle.png);
    background-repeat: no-repeat;
    background-position: center;
}
.circle2-index{
    width: 103px;
    height: 103px;
    border-radius: 69px;
    position: absolute;
    top: -4px;
    right: 1px;
    background-color:#ffc600;
}

.img-gigasari{
    background-image: url(image/img-gigasari.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color:white !important;
}
.tik-index{
    background-image: url(image/tik-index.png);
    background-repeat: no-repeat;
    background-position: center;
}
.h-index{
    background-image: url(image/h-index.png);
    background-repeat: no-repeat;
    background-position: center;
}
.smile-index{
    background-image: url(image/smile-index.png);
    background-repeat: no-repeat;
    background-position: center;
}
.ltr{
    direction:ltr;
}

.form-login{
    border-left: 1px solid #ffc600;
    border-bottom: 4px solid #ffc600;
    border-radius: 11px;

}
.form-color::-webkit-input-placeholder{
    color:#00a594;
    font-size:21px;
    text-align:right;
}
.btn-effect,.btn-warning-effect{
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .90s ease-out;
    cursor: pointer;
}
.btn-effect:hover {
    background-position: left bottom;
    background: linear-gradient(45deg, #00a594, transparent);
}
.btn-warning-effect:hover {
    background-position: left bottom;
    background: linear-gradient(45deg, #ffc600, #f8f9fa);
}
.btn-brown-effect:hover {
    background-position: left bottom;
    background: linear-gradient(45deg, #525252, #f8f9fa);
}
.text-effect{
    text-align: center;
    transition: all .6s ease-out;
}
/*.div-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}*/

.form-register{
    border-right: 1px solid #ffc600;
    border-bottom: 6px solid #ffc600;
    border-radius: 11px;

}
.heart-register{
    text-align: center;
    left: 44px;
    top: 234px;
    color: #00a594;
}
.close-register1{
    left:0px;
}
.c-pointer{cursor: pointer;}
.slider-holder, .main-menu {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.first-title {
    font-family: 'iransansbold';
    color: #ffc600;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 10vw;
    margin-bottom: 0;
    margin-top: 2rem;
}
.second-title {
    font-family: 'iransansbold';
    color: #00a594;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    font-size: 10vw;
}
.first-title1 {
    font-family: 'iransansbold';
    color: #ffc600;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 6vw;
    margin-bottom: 0;

}
.second-title1 {
    font-family: 'iransansbold';
    color: #00a594;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    width: 100%;
    font-size: 6vw;
}
.swiper-slide img {
    border-radius: 45px;
    box-shadow: 0px 5px #00a594;
}
.float-buttons {
    position: absolute !important;
    z-index: 10;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.top-button span{display: none;}
.reg-button-float, .login-button-float {
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 45%;
    font-size: 5vw;
}
.login-button-float{background: #ffc600;}
@media (min-width : 768px) {
    .first-title1, .second-title1 {font-size: 3vw;}
}
@media (min-width : 992px) {
    .float-buttons {
        position: absolute !important;
        z-index: 10;
        width: 50%;
        text-align: center;
    }
    .first-title, .second-title {font-size: 5vw;}

    .reg-button-float, .login-button-float{font-size: 2vw;}
    .top-button span {
        display: block;
    }
    .swiper-pagination{margin-top: 8% !important;}
}
@media (max-width : 991.9px) {
    .swiper-pagination{margin-top: 16% !important;}
    .slider-holder{padding-bottom: 1.5rem;}
}

#login-index, #reg-mobile-index {

    width: 45%;
    font-size: 4vw;
}
@media (min-width : 992px) {
    #login-index, #reg-mobile-index {

        width: 45%;
        font-size: 2vw;
    }
}
.main-btn-style{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.float-box-btn {
    position: absolute;
    bottom: -20px;
    z-index: 10;
    width: 230px;
    margin-right: -115px;
    padding: 10px;
    height: 60px;
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
    right: 50%;
}

.btn-register {
    background: url(image/icon/register.png) 10px/45px no-repeat;
}
@media only screen and (max-width:575.99px){
    .float-box-btn{position: relative;}
}
.titr-index {
    font-weight: bold;
    font-size: 4vw;
}
.top-button {
    border-radius: 10px;
    height: 39px;
    padding: 10px 40px 10px 10px;
    display: inline-block;
    color: #fff !important;
    position: relative;
}
.basket-link{background-color: #005d53;}
.basket-link:before{
    content: "";
    position: absolute;
    width: 28px;
    height: 22px;
    right:10px;
    background: url('/assets/image/saba.png') no-repeat ;

}
.profile-link {
    padding: 10px 35px 10px 32px;
    background-color: #ffc600;
}
.profile-link:before{
    content: "";
    position: absolute;
    width: 19px;
    height: 22px;
    right:10px;
    background: url('/assets/image/profile1.png') no-repeat ;
}
.profile-link::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 7px;
    left: 10px;
    background: url('/assets/image/drop-don.png') no-repeat;
    top: 16px;
}
.box-title {
    font-size: 50px;
    font-weight: bold;
}
.swiper-pagination-bullet{
    border-radius: 0px !important;
    width: 24px !important;
    height: 21px !important;
    background: url(image/heart.png) no-repeat !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{background: url(image/heart-active.png) no-repeat !important;}
.swiper-pagination {
    top: 0 !important;
    left: 4px !important;
    bottom: unset !important;
    width: 24px !important;
}
.slide-img {padding-left: 50px;}
.reg-button-float, .login-button-float{
    -moz-transition: box-shadow .75s ease;
    -o-transition: box-shadow .75s ease;
    -webkit-transition: box-shadow .75s ease;
    transition: box-shadow .75s ease;
}
.reg-button-float:hover, .login-button-float:hover{
    box-shadow: 0px 0px 6px 2px #666a69;
}
.navbar-expand {
    padding-top: 15px;
    margin-bottom: 40px;
}
.menu-link::before {
    content: "";
    width: 71px;
    height: 70px;
    display: block;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
}
.menu-link {
    text-align: center;
    display: block;
    min-width: 71px;
    text-decoration: none;
}
.menu-link:hover{text-decoration: none;}
.nav-home:before{background: url(image/icon/home.png) no-repeat;}
.nav-about:before{background: url(image/icon/about.png) no-repeat;}
.nav-app:before{background: url(image/icon/app.png) no-repeat;}
.nav-blog:before{background: url(image/icon/blog.png) no-repeat;}
.nav-channel:before{background: url(image/icon/channel.png) no-repeat;}
.nav-contact:before{background: url(image/icon/contact.png) no-repeat;}
.nav-inbody:before{background: url(image/icon/inbody.png) no-repeat;}
.nav-insta:before{background: url(image/icon/insta.png) no-repeat;}
.nav-share:before{background: url(image/icon/share.png) no-repeat;}
.nav-shop:before{background: url(image/icon/shop.png) no-repeat;}
.nav-vote:before{background: url(image/icon/vote.png) no-repeat;}
.profile-menu {
    list-style: none;
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    top: 40px;
    background: #CCC;
    padding: 10px;
    z-index: 10;
    border-radius: 5px;
}
.logo11-index {
    width: 50%;
}
.custom-input {
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #00a594;
}
.custom-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}



